<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}
        Secondary School Portal
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <aside>
        <h1>
            SECONDARY<br>
            SCHOOL PORTAL
        </h1>

        <a href="/">Dashboard</a>
        <a href="/students">Students</a>
        <a href="/parents">Parents / Guardians</a>
        <a href="/marks">Marks & Subjects</a>
        <a href="/fees">Fees & Payments</a>
        <a href="/notifications">Notifications</a>
    </aside>

    <main>

        <header>
            {% block header %}
            Secondary School Management Portal
            {% endblock %}
        </header>

        <section>

            {% with messages = get_flashed_messages(with_categories=true) %}

                {% for category, message in messages %}

                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endwith %}

            {% block content %}
            {% endblock %}

        </section>

    </main>

</body>
</html>
